.menu {
	background-color: #ccc;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	text-decoration: none;
	color: rgb(187, 15, 15);
	font-weight: 900;
	font-size: 24px;
}
.logo h2 {
	margin: 0;
}
.logo h2:hover {
	text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.13);
}
.link {
	padding: 15px;
	height: 100%;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	color: black;
	border-left: 2px solid #eee;
}
.link:hover {
	padding: 17px;
	background-color: coral;
	color: white;
}
