.filters {
  display: flex;
  width: 87%;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  justify-content: space-around;
  border: 5px solid #ccc;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.76);
}
